.hero__section {
  height: 95vh;
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.hero__heroImage {
  height: 100%;
  width: 100%;
}

.hero__left {
  width: 55%;
  height: 100%;
}

.hero__right {
  width: 45%;
  height: 100%;
  background-color: #113f55;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
}

.hero__rightTagline {
  color: #fff;
  position: absolute;
  top: 200px;
  right: 20;
  bottom: 0;
  width: 90%;
  height: 400px;
  text-align: right;
}

.hero__taglineText {
  color: reg(238, 238, 238);
  font-size: 54px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 2px;
}

.hero__taglineSubText {
  font-size: 19px;
  font-weight: 400;
}
